# Python specific
*.pyc
__pycache__/
venv/
*.egg-info/
dist/
build/
*.egg
*.log

# Jupyter Notebook specific
.ipynb_checkpoints/

# Data and model files
data/
models/

# Dependency directories
env/
lib/
